.artist a {
  text-decoration: underline .25rem var(--color-blue-light);
  color: var(--color-text-light);
}

@media only screen and (max-width: 650px) {
  .artist a {
    font-size: .9rem;
    text-decoration: underline .18rem var(--color-blue-light);
  }
}
