#all-lists {
	padding: 0;
}

.list {
	list-style: none;
	background-color: var(--color-bg-light);
	border-radius: 1rem;
	margin: 1rem 0;
}

.list a {
	display: block;
	padding: 1rem;
	color: var(--color-text-light);
	text-decoration: none;
	border-radius: 1rem;
}

.list a:focus,
.product-card a:focus {
	outline: .13rem solid var(--color-purple-dark);
	outline-offset: .13rem;
}

@media (max-width: 650px) {
	.list a:focus {
		outline: .1rem solid var(--color-purple-dark);
		outline-offset: 1rem;
	}
}

@media (hover: hover) {
  .list a:hover,
	.product-card a:hover {
    outline: .13rem solid var(--color-purple-dark);
    outline-offset: .13rem;
  }

  @media (max-width: 650px) {
    .list a:hover {
      outline: .1rem solid var(--color-purple-dark);
      outline-offset: 1rem;
    }
  }
}

.list-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 1rem;
}

.list-details h2,
.list-details p {
	font-size: 1.25rem;
	line-height: 1.25rem;
	margin: 0;
}

@media (max-width: 650px) {
	.list-details h2,
	.list-details p {
		font-size: .8rem;
		line-height: 1rem;
	}
}

.list-details p {
	text-align: right;
	font-style: italic;
}

.list-images {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	gap: .5rem;
}

.img-standin {
	width: 15vw;
	height: 15vw;
	max-width: 150px;
	max-height: 150px;
	flex: 0 0 auto;
	overflow: hidden;
	border-radius: 1rem;
}

.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1rem 0;
}

.list-header h2,
.list-header p {
	margin: 0;
}

.list-header p {
	font-size: 1.1rem;
	font-style: italic;
}
