#search {
	display: flex;
	border-radius: 1rem;
}

@media (hover: hover) {
	#search:hover {
		outline-offset: .13rem;
	}

	.home #search:hover {
		outline: .13rem solid var(--color-red-dark);
	}

	.directory #search:hover {
		outline: .13rem solid var(--color-blue-dark);
	}

	.lists #search:hover {
		outline: .13rem solid var(--color-purple-dark);
	}

	@media (max-width: 650px) {
		#search:hover {
			outline-offset: .1rem;
		}

		.home #search:hover {
			outline: .1rem solid var(--color-red-dark);
		}

		.directory #search:hover {
			outline: .1rem solid var(--color-blue-dark);
		}

		.lists #search:hover {
			outline: .1rem solid var(--color-purple-dark);
		}

	}
}

.search-center {
	height: inherit;
	width: 45%;
	margin: 30vh auto auto;
}

@media (max-width: 650px) {
	.search-center {
		width: 90%;
	}
}

#search-label {
	display: inline-block;
	overflow: hidden;
	height: 0;
	width: 0;
}

#search-cap-left {
	margin: auto 0;
	height: 2rem;
	width: 1rem;
	background-color: var(--color-bg-light);
	border-radius: 1rem 0 0 1rem
}

#search input[type="text"] {
	margin: auto 0;
	display: block;
	height: 2rem;
  width: 100%;
	border: none;
	background-color: var(--color-bg-light);
	z-index: 1;
}

#search-cap-right {
	margin: auto 0;
	height: 2rem;
	width: 2rem;
	background-color: var(--color-bg-light);
	border-radius: 0 1rem 1rem 0;
}

#search a {
	text-decoration: none;
}

#search .fake-button {
	display: block;
	margin: .2rem .2rem;
	height: 1.6rem;
	width: 1.6rem;
	border-radius: .8rem;
	line-height: 1.5rem;
	font-size: .8rem;
	text-align: center;
	color: var(--color-text-light);
}

@media (hover: hover) {
	.home #search .fake-button:hover {
		outline: .07rem solid var(--color-red-dark);
	}

	.directory #search .fake-button:hover {
		outline: .07rem solid var(--color-blue-dark);
	}
	.lists #search .fake-button:hover {
		outline: .07rem solid var(--color-purple-dark);
	}

	@media (max-width: 650px) {
		.home #search .fake-button:hover {
			outline: .05rem solid var(--color-red-dark);
		}

		.directory #search .fake-button:hover {
			outline: .05rem solid var(--color-blue-dark);
		}
		.lists #search .fake-button:hover {
			outline: .05rem solid var(--color-purple-dark);
		}
	}
}
